body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 20px;
  box-sizing: border-box;
  margin-top: 100px;

}

.container {
  background: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  width: 100%;
}

h1 {
  margin-bottom: 20px;
  text-align: center;
  font-size: 1.8em;
  color: #333;
}

h2 {
  font-size: 1.4em;
  color: #333;
  margin-bottom: 20px;
}

.box {
  background: #fff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.input-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.input-group label {
  flex: 1;
  font-weight: bold;
}

.input-group input,
.input-group select {
  flex: 2;
  padding: 10px;
  margin-left: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

#submitPricesOptionsBtn,
.input-group button {
  flex: 1;
  background-color: var(--secondaryColor);
  /* Blue color for search buttons */
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 8px;
  margin-left: 10px;
  transition: background-color 0.3s;
  margin-bottom: 10px;
}

submitPricesOptionsBtn:hover,
.input-group button:hover {
  background-color: var(--secondaryColor);
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background-color: #343a40;
}

table,
th,
td {
  border: 1px solid #454d55;
}

th {
  background-color: var(--primaryColor);
  color: white;
}

td {
  padding: 10px;
  text-align: center;
  background-color: white;
  color: black;
}

tfoot td {
  text-align: right;
  background-color: #f4f4f4;
  font-weight: bold;
  padding-right: 20px;
}

tfoot input {
  margin-left: 10px;
}

.choose-button {
  background-color: var(--secondaryColor);
  /* Blue color for choisir buttons */
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 8px;
}

.choose-button:hover {
  background-color: var(--secondaryColor);
}

.cin-sender-box {
  margin-top: 20px;
}

.form-group {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.form-section {
  width: 30%;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-right: 20px;
}

.form-section:last-child {
  margin-right: 0;
}

h2 {
  text-align: center;
  font-size: 1.2em;
  color: #333;
  margin-bottom: 15px;
}

input[type="text"],
input[type="number"],
select {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.print-button,
.submit-button {
  width: 100%;
  background-color: var(--primaryColor);
  /* Orange color for submit button */
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 6px;
  margin-top: 20px;
  font-size: 1.2em;
  transition: background-color 0.3s;
}

.print-button,
.submit-button:hover {
  background-color: var(--primaryColor);
}

.receipt-container {


  border-radius: 12px;
  margin-top: 20px;
align-items: center;

text-align: left;

  



}
.receipt-container .content{

  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.print-button {
  width: fit-content;
}


.receipt-container h2 {
  color: var(--primaryColor);
  margin-bottom: 10px;
  font-size: 24px;
}

.receipt-container h3 {

  margin-top: 50px;
  margin-bottom: 10px;

}

.receipt-container p {
  font-size: 16px;
  margin: 5px 0;

}

.receipt-container table {
  max-width: 900px;
  
  border-collapse: collapse;
  margin-top: 20px;
  background-color: #fff;
  border: 5px solid black;
}

.receipt-container table,
.receipt-container th,
.receipt-container td {
  border: 1px solid #ddd;
}

.table th, .table td {
  border: 1px solid black;
  padding: 10px;
  text-align: left;
}


.receipt-container th,
.receipt-container td {
  padding: 10px;
  text-align: left;
}

.receipt-container th {
  background-color: #f4f4f4;
  color: #333;
}

@media print {

  body .navbar{
    display: none;
  }
 
  .receipt-container img{
    display: inline;
  }
  .receipt-container .content{
    display: flex;
  }
  
  .receipt-container {
   
    background: white;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10000000;

    width: 100vw;


  }

  .print-button {
    display: none;
  }
}

.submitContainer {
  display: flex;
  justify-content: center;

  padding: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  align-items: center;
}

.submitContainer button#submitPricesOptionsBtn {

  flex: 0;
  padding: 10px 30px;



}