body {
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    padding: 20px;
    margin-top: 80px;
}

.box {
    background: #fff;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    margin-bottom: 20px;
}

h1, h2 {
    color: #333;
}

h2 {
    margin-top: 20px;
}

.table-responsive {
    margin-top: 20px;
    border-radius: 10px;
    overflow: hidden;
}

.table {
    border-radius: 10px;
}

.table thead {
    border-radius: 10px 10px 0 0;
}

.table th, .table td {
    border-top: none;
    vertical-align: middle;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    color: white;
    border-radius: 5px;
    margin-top: 10px; /* Add top margin to the submit button */
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

.btn-secondary {
    background-color: #6c757d;
    border-color: #6c757d;
    color: white;
    border-radius: 5px;
    margin-top: 10px; /* Add top margin to the submit button */
}

.btn-secondary:hover {
    background-color: #5a6268;
    border-color: #545b62;
}

.btn-warning, .btn-danger {
    background-color: #ed731d;
    border-color: #ed731d;
    color: white;
    border-radius: 5px;
    margin: 5px; /* Add margin between buttons */
}

.btn-warning:hover, .btn-danger:hover {
    background-color: #d5631a;
    border-color: #d5631a;
}

.btn-success {
    background-color: #28a745;
    border-color: #28a745;
    color: white;
    border-radius: 5px;
}

.btn-success:hover {
    background-color: #218838;
    border-color: #218838;
}

.form-control {
    border-radius: 5px;
    margin-bottom: 10px;
}

input::placeholder {
    color: #bbb;
}

input:focus, select:focus, textarea:focus, button:focus {
    border-color: #007bff;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.text-center {
    text-align: center;
}

.mt-4 {
    margin-top: 1.5rem !important;
}

.mb-4 {
    margin-bottom: 1.5rem !important;
}

.hidden {
    display: none;
}
